body {
    color: white;
    background: rgb(24, 24, 24);
    margin: 0px;
    font-family: 'SUSE', sans-serif;
}
header {
    border-bottom: solid 2px rgb(175, 11, 216);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
    text-align: center;
}
section {
    background: linear-gradient(rgb(175, 11, 216), rgb(0, 0, 0));
    padding-bottom: 40%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
img{
    padding: 5px;
    display: grid;
}
.video{
    justify-content: center;
    display: grid;
    overflow-x: auto;
}